[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

Packages/com.unity.burst*/

UserSettings/
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.user
*.vsidx

.DS_Store
Thumbs.db
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/Animations/Player/Crouch Walk Right.fbx.meta
Assets/Animations/Player/Player.controller
Assets/assets/the_barn/textures/barnDoor_01/Thumbs.db.meta
Assets/assets/the_barn/textures/barnFrames/Thumbs.db.meta
Assets/assets/the_barn/textures/barnLadder_01/Thumbs.db.meta
Assets/assets/the_barn/textures/barnRoof/Thumbs.db.meta
Assets/assets/the_barn/textures/barnUpstairsStructure_02/Thumbs.db.meta
Assets/assets/the_barn/textures/barnWoodFrame/Thumbs.db.meta
Assets/assets/the_barn/textures/beechWood_01/Thumbs.db.meta
Assets/assets/the_barn/textures/cans_01/Thumbs.db.meta
Assets/assets/the_barn/textures/cardBoardBoxes_01/Thumbs.db.meta
Assets/assets/the_barn/textures/concrete_01/Thumbs.db.meta
Assets/assets/the_barn/textures/exteriorTools_01/Thumbs.db.meta
Assets/assets/the_barn/textures/farmBoots_01/Thumbs.db.meta
Assets/assets/the_barn/textures/fuseBox_01/Thumbs.db.meta
Assets/assets/the_barn/textures/gasGenerator_01/Thumbs.db.meta
Assets/assets/the_barn/textures/groundMetal_01/Thumbs.db.meta
Assets/assets/the_barn/textures/handTools_01/Thumbs.db.meta
Assets/assets/the_barn/textures/hangingBlankets_01/Thumbs.db.meta
Assets/assets/the_barn/textures/hangingLights_01/Thumbs.db.meta
Assets/assets/the_barn/textures/haystack_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metal_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metalChest_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metalCloset_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metalFurniture_01/Thumbs.db.meta
Assets/assets/the_barn/textures/paintedWoodPlanks_01/Thumbs.db.meta
Assets/assets/the_barn/textures/silo_01/Thumbs.db.meta
Assets/assets/the_barn/textures/Terrain/Thumbs.db.meta
Assets/assets/the_barn/textures/Thumbs.db.meta
Assets/assets/the_barn/textures/tire_01/Thumbs.db.meta
Assets/assets/the_barn/textures/tire_02/Thumbs.db.meta
Assets/assets/the_barn/textures/toolBox_01/Thumbs.db.meta
Assets/assets/the_barn/textures/weatheredWood_01/Thumbs.db.meta
Assets/assets/the_barn/textures/window_01/Thumbs.db.meta
Assets/assets/the_barn/textures/woodenCrate_01/Thumbs.db.meta
Assets/assets/the_barn/textures/woodStock_01/Thumbs.db.meta
Assets/assets/the_barn/textures/workTable_01/Thumbs.db.meta
Assets/Scripts/PlayerInteraction.cs

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*


# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
Assets/FMOD/.cache/fsbcache/Desktop/24945F9D.fobj
Assets/FMOD/.cache/fsbcache/Desktop/249ABF80.fobj
Assets/FMOD/.cache/fsbcache/Desktop/2A99ECB9.fobj
Assets/FMOD/.cache/fsbcache/Desktop/3E906827.fobj
Assets/FMOD/.cache/fsbcache/Desktop/41F0D86A.fobj
Assets/FMOD/.cache/fsbcache/Desktop/504578C7.fobj
Assets/FMOD/.cache/fsbcache/Desktop/52B8E735.fobj
Assets/FMOD/.cache/fsbcache/Desktop/5BEAC0ED.fobj
Assets/FMOD/.cache/fsbcache/Desktop/5E60EE3C.fobj
Assets/FMOD/.cache/fsbcache/Desktop/6A39B129.fobj
Assets/FMOD/.cache/fsbcache/Desktop/8804855C.fobj
Assets/FMOD/.cache/fsbcache/Desktop/94054CC8.fobj
Assets/FMOD/.cache/fsbcache/Desktop/9DFD7153.fobj
Assets/FMOD/.cache/fsbcache/Desktop/A4728C35.fobj
Assets/FMOD/.cache/fsbcache/Desktop/A4FF8025.fobj
Assets/FMOD/.cache/fsbcache/Desktop/AE8794E1.fobj
Assets/FMOD/.cache/fsbcache/Desktop/B819531E.fobj
Assets/FMOD/.cache/fsbcache/Desktop/CC1075C2.fobj
Assets/FMOD/.cache/fsbcache/Desktop/D3ED220C.fobj
Assets/FMOD/.cache/fsbcache/Desktop/D6A519FF.fobj
Assets/FMOD/.cache/fsbcache/Desktop/D7D812BF.fobj
Assets/FMOD/.cache/fsbcache/Desktop/D8B8B519.fobj
Assets/FMOD/.cache/fsbcache/Desktop/DBA5A733.fobj
Assets/FMOD/.cache/fsbcache/Desktop/DD1F4297.fobj
Assets/FMOD/.cache/fsbcache/Desktop/EB29D4EB.fobj
Assets/FMOD/.cache/fsbcache/Desktop/ED636E88.fobj
Assets/FMOD/.cache/fsbcache/Desktop/EE17601D.fobj
Assets/FMOD/.cache/fsbcache/Desktop/F08F44F8.fobj
Assets/FMOD/.cache/fsbcache/Desktop/F21F9E76.fobj
Assets/FMOD/.cache/fsbcache/Desktop/FB056C16.fobj
Assets/FMOD/.cache/fsbcache/Desktop/FC7D59C8.fobj
Assets/FMOD/.cache/fsbcache/Desktop/FDAEA03F.fobj
Assets/FMOD/.cache/{0e4d888c-aca2-4e84-9af6-7777e8501ddf}.pdc
Assets/FMOD/.cache/{0e612297-404e-4e7a-9802-46d181c16632}.pdc
Assets/FMOD/.cache/{24dbdb5b-d8f9-4eec-9ffd-2d51a67f1f37}.pdc
Assets/FMOD/.cache/{4f47a2be-375c-4fe3-9da4-af867953d260}.pdc
Assets/FMOD/.cache/{65c44261-9177-4304-a81f-fc058e61995d}.pdc
Assets/FMOD/.cache/{8baa637b-1bcd-4f45-be32-c27fefc2bf4e}.pdc
Assets/FMOD/.cache/{927c1499-ef97-46ce-a915-30817d364dc7}.pdc
Assets/FMOD/.cache/{948052bb-edc5-41ee-a26a-bcbaf33ebda2}.pdc
Assets/FMOD/.cache/{94b631fd-e7e5-4963-9a58-9f19c8e5577a}.pdc
Assets/FMOD/.cache/{c12ff40f-01d7-4070-8d28-66c8f6f84cde}.pdc
Assets/FMOD/.cache/{cc13a26e-2730-4aa5-9e86-846a0fe6a8ab}.pdc
Assets/FMOD/.cache/{d065acd4-36e7-4663-a7d6-2fce0d8fc307}.pdc
Assets/FMOD/.cache/{d29ad5aa-dd26-4cc6-a210-f4bcad4be602}.pdc
Assets/FMOD/.cache/{fbf7d841-9460-4ec6-97d3-86c9b5cd22c5}.pdc
Assets/FMOD/.cache/{fe7b50d3-21bd-402d-be7c-197697b08a76}.pdc
Assets/FMOD/Assets/Media/01-260603_2324.wav
Assets/FMOD/Assets/Media/01-260603_2324.wav.meta
Assets/FMOD/Assets/Media/01-260603_2332.wav
Assets/FMOD/Assets/Media/01-260603_2332.wav.meta
Assets/FMOD/Assets/Media/02-260603_2329.wav
Assets/FMOD/Assets/Media/02-260603_2329.wav.meta
Assets/FMOD/Assets/Media/02-260603_2330-01.wav
Assets/FMOD/Assets/Media/02-260603_2330-01.wav.meta
Assets/FMOD/Assets/Media/02-260603_2330.wav
Assets/FMOD/Assets/Media/02-260603_2330.wav.meta
Assets/FMOD/Assets/Media/02-260603_2331.wav
Assets/FMOD/Assets/Media/02-260603_2331.wav.meta
Assets/FMOD/Assets/Media/02-NaftaPour-260603_2333.wav
Assets/FMOD/Assets/Media/02-NaftaPour-260603_2333.wav.meta
Assets/FMOD/Assets/Media/peaks.meta
Assets/FMOD/Assets/Media/peaks/01-260603_2324.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/01-260603_2324.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/01-260603_2332.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/01-260603_2332.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/02-260603_2329.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/02-260603_2329.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/02-260603_2330-01.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/02-260603_2330-01.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/02-260603_2330.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/02-260603_2330.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/02-260603_2331.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/02-260603_2331.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/02-NaftaPour-260603_2333.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/02-NaftaPour-260603_2333.wav.reapeaks.meta
Assets/FMOD/Assets/Media/peaks/473846__lilmati__shotgun-shot-03.wav.reapeaks
Assets/FMOD/Assets/Media/peaks/473846__lilmati__shotgun-shot-03.wav.reapeaks.meta
*.reapeaks
*.reapeaks
Assets/FMOD/Assets/peaks/Chumbazo.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel1.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel2.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel3.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel4.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood1.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood2.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood3.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood4.wav.reapeaks
Assets/FMOD/Assets/peaks/Grab.wav.reapeaks.meta
Assets/FMOD/Assets/peaks/NaftaPour.wav.reapeaks.meta
Assets/FMOD/Assets/peaks/PutDown.wav.reapeaks.meta
Assets/FMOD/Assets/peaks/Chumbazo.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel1.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel2.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel3.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel4.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood1.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood2.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood3.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood4.wav.reapeaks
Assets/FMOD/Assets/peaks/556499__cookiespolicy__rotary-phone-ring-loopable.wav.reapeaks
Assets/FMOD/Assets/peaks/682772__thomasanthony321__running-footsteps-on-wood.wav.reapeaks
Assets/FMOD/Assets/peaks/683175__shark_anthony__357-magnum-revolver-gunshot-with-tail.mp3.reapeaks
Assets/FMOD/Assets/peaks/683186__shark_anthony__357-magnum-revolver-gunshot.mp3.reapeaks
Assets/FMOD/Assets/peaks/835154__artem_zaitsev__footsteps-wood-creaky-slippers.wav.reapeaks
Assets/FMOD/Assets/peaks/844777__meanraccoon__old-rotary-dial-telephone-noises-collection.wav.reapeaks
Assets/FMOD/Assets/peaks/Chumbazo.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel1.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel2.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel3.wav.reapeaks
Assets/FMOD/Assets/peaks/FootGravel4.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood1.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood2.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood3.wav.reapeaks
Assets/FMOD/Assets/peaks/FootWood4.wav.reapeaks
